h1 {
    color: #0D92F4;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.team-member-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.team-member-containter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 50px;
}

.team-member-containter-button:hover,
.team-member-containter-button-active {
    background-color: #008cff;
    cursor: pointer;
    color: white;
}

.team-member-containter-button h3 {
    font-weight: 400;
}

.team-member-containter-button h3:hover {
    cursor: pointer;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

.team-member h3 {
    color: #008cff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.team-member p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.team-member spam {
    background-color: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

.team-container img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    padding: 10px;
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.team-member:hover {
    background-color: #008cff;
}

.team-member-hover-h3 {
    color: #fff !important;
}

.team-member-hover-img {
    background-color: #fff;
}

.SAM {
    padding: 5px !important;
}

.orgs {
    height: 200px !important;
}